<section class="content-header">
    <h1>
        Data Tables
        <small>advanced tables</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h4>Lọc trạng thái
                        <select [(ngModel)]="filterStatus">
                          <option value="XEM_TAT_CA" selected>Xem tất cả</option>
                          <option value="ACTIVE">Active</option>
                          <option value="BLOCK">Block</option>
                        </select>
                    </h4>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" [(ngModel)]="searchText" class="form-control pull-right" placeholder="Tìm kiếm...">
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Thành viên</th>
                                <th>Ngày tham gia</th>
                                <th>Trạng thái</th>
                                <th>Quyền</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let users of userData | filter:searchText; index as i">
                                <td>{{i+1}}</td>
                                <td>{{users.username}}</td>
                                <td>{{users.createdDay | date:'medium'}}</td>
                                <td><button (click)="setStatus(users)" [class]="users.status === true ? 'lable label-success' : 'lable label-danger'">{{users.status === true ? 'Active' : 'Block'}} </button></td>
                                <!-- <td><button type="button" [style.class]="users.status === 'true' ? 'red' : 'blue' " [class.selected]="users === selectedUser" (click)="setStatus(users)">{{users.status}}</button></td> -->
                                <td>{{users.role}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">«</a></li>
                        <li *ngFor="let item of totalPage">
                            <a (click)="getPageUser(item)">{{item}}</a>
                        </li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.box -->

        </div>
    </div>
</section>