<section class="content-header">
    <h1>
        Data Tables
        <small>advanced tables</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Quản Lý Bài Đăng</h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" [(ngModel)]="searchText" class="form-control pull-right" placeholder="Tìm kiếm...">
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tiêu đề</th>
                                <th>Duyệt bài</th>
                                <th>Trạng thái</th>
                                <th>Nội dung mô tả</th>
                                <th>Giá cho thuê</th>
                                <th>Diện tích</th>
                                <th>Địa chỉ</th>
                                <th>Hình ảnh</th>
                                <th>Hành động</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let theNews of newsData | filter:searchText | paginate: { itemsPerPage: 5, currentPage: p }; index as i">
                                <td>{{i+1}}</td>
                                <td>{{theNews.title}}</td>
                                <td>
                                    <button type="button" [class]="theNews.status === 1 ? 'label label-danger' : 'label label-success'" (click)="setStatus(theNews)">
                                      {{theNews.status === 1 ? 'Ẩn' : 'Hiện'}}
                                    </button>
                                </td>
                                <td>
                                    <button type="button" [class]="theNews.status == 3 ? 'badge bg-green' : 'badge bg-yellow'" (click)="setRent(theNews)">
                                     {{theNews.status == 3 ? 'Đã thuê' : 'Chưa thuê' }}
                                    </button>
                                </td>
                                <td>{{theNews.description}}</td>
                                <td>{{theNews.price}}</td>
                                <td>{{theNews.area}}</td>
                                <td>{{theNews.address.province_city}} - {{theNews.address.district}} - {{theNews.address.street}}</td>
                                <td><img class="imgFix" src="{{theNews.image}}"></td>
                                <th><button class="bg-red" (click)="deleteNews(theNews)">Xóa</button></th>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>