<section class="content-header">
    <h1>
        Data Tables
        <small>advanced tables</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Quản Lý Bài Đăng</h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" [(ngModel)]="searchText" class="form-control pull-right" placeholder="Tìm kiếm...">
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tiêu đề</th>
                                <th>Nội dung mô tả</th>
                                <th>Giá cho thuê</th>
                                <th>Diện tích</th>
                                <th>Địa chỉ</th>
                                <th>Hình ảnh</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let theNews of newsData | filter:searchText; index as i">
                                <td>{{i+1}}</td>
                                <td>{{theNews.title}}</td>
                                <td>{{theNews.description}}</td>
                                <td>{{theNews.price}}</td>
                                <td>{{theNews.area}}</td>
                                <td>{{theNews.address}}</td>
                                <td>{{theNews.image}}</td>
                                <td><button type="button" class="btn btn-block btn-success" [class.selected]="theNews === selectedNews" (click)="setStatus(theNews)">{{theNews.status}}</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>